.social-button {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;

  background-color: var(--gray-400);
  color: var(--gray-200);
  font-family: var(--ff-maven);
  transition: color 0.2s;

  span {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.social-button:hover {
  color: var(--blue);
}

.project-card {
  padding: 12px;
  background-color: var(--gray-400);
  border: 2px solid var(--gray-400);
  border-radius: 12px;
  transition: 0.2s;

  img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h3 {
      color: var(--gray-100);
      font: var(--title-sm);
    }
    p {
      color: var(--gray-200);
      font: var(--text-sm);
      margin-bottom: 6px;
    }
  }
}

.project-card:hover {
  border: 2px solid var(--gray-300);
}

.tag {
  display: flex;
  border-radius: 24px;
  gap: 8px;
  padding: 12px;

  background-color: var(--gray-400);
  color: var(--gray-100);
  font: var(--text-md);
}
