#hero {
  background-image: url(../assets/images/Background_intro.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .info {
    .avatar {
      margin-bottom: 56px;
    }

    .description {
      .greeting {
        font: var(--subtitle);
        color: var(--gray-200);
        margin-bottom: 8px;
      }

      h1 {
        font: var(--title-lg);
        color: var(--gray-100);
        margin-bottom: 20px;
      }

      .bio {
        font: var(--text-sm);
        color: var(--gray-300);
        max-width: 680px;
        margin-inline: auto;
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 16px;
      margin-top: 80px;
    }
  }

  .arrow {
    margin-top: 90px;
  }
}
